{% include header.html %}

  <!-- Page Content -->
  <div class="container" style="margin-top:25px;">

	<div class="row">
      <div class="col-md-12 mb-5">
         <h2 class="text-center">Watch {{page.category}} {{page.title}}</h2>
        <div class="anime-holder">
          
          {{content}}
          
         <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/{{page.prevlink}}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/{{ page.category | slugify }}">All Episodes list</a></li>
            <li class="page-item"><a class="page-link" href="/{{page.nextlink}}">Next</a></li>
          </ul>
        </nav>
        </div>
      </div>
    </div>


  </div>
  <!-- /.container -->

{% include footer.html %}